/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body{
    background-color:white;
}

mat-toolbar {
  justify-content: space-between;
  border-bottom: 1px solid gray;
  background-color: white !important;
}

.header {
  padding: 0 100px;

  @media screen and (max-width: 800px) and (min-width: 250px) {
    padding: 0;
  }
}

button.mat-raised-button:hover {
  background-color: grey;
}

.mat-icon-button:hover .mat-button-focus-overlay {
  opacity: 0.3 !important;
}

a:hover{
  font-weight: bold;
}